<View style="display: flex; flex-direction: row;">
  <View style="flex: 70%; overflow-y: auto; height: 70vh;">
      <Paragraphs name="dialogue" value="$dialogue" layout="dialogue"
                  textKey="speech" nameKey="speaker"
      />
  </View>
  <View style="flex: 30%; padding-left: 20px;">
    <Header value="Labels"/>
    <ParagraphLabels name="label" toName="dialogue">
      <Label alias="in_character_speech" value="In-Character Speech" background="indigo"/>
      <Label alias="narrative_speech" value="Narrative Speech" background="purple"/>
      <Label alias="game_mechanics" value="Game Mechanics" background="blue"/>
      <Label alias="narrative_suggestions" value="Narrative Suggestions" background="green"/>
      <Label alias="gameplay_negotiations" value="Gameplay Negotiations" background="yellow"/>
      <Label alias="off_record_related" value="Off-Record: Related" background="orange"/>
      <Label alias="off_record_unrelated" value="Off-Record: Unrelated" background="red"/>
    </ParagraphLabels>
  </View>
</View>

